/* about */
.about {
  position: relative;
  overflow: hidden;
}

.about::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 200px;
  background: var(--main-color);
  filter: blur(120px);
  opacity: 0.2;
  pointer-events: none;
}
.about {
  min-height: 100vh;
  padding: 120px 0;
  color: white;
}

.about-badge {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 20px;
  background: rgba(249,115,22,.15);
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid var(--main-color);
  
}

.about-title {
  font-size: 72px;
  font-weight: 700;
}

.about-title span {
  background: var(--second-gardient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
    font-size: 72px;
  font-weight: 700;
}

.about-content {
  max-width: 63%;
  margin: 20px auto 60px;
  color: #bbb;
  line-height: 25px;
  font-size: 20px;

}

.about-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 24px;
  max-width: 75%;
  margin: auto;
}

.stat-card {
  background: rgba(20,20,20,0.9);
  border: 1px solid rgb(38,38,38);
  padding: 15px 20px;
  border-radius: 18px;
}

.stat-card i {
  font-size: 28px;
  background-color: var(--second-gardient);
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.stat-card h3 {
   background: var(--second-gardient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stat-card p {
  color: var(--main-gray);
  font-size: 14px;
}
/* rate */
.rate-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 80px 0 40px;
}

.rate-title .line {
  width: 6px;
  height: 35px;
  background: var(--second-gardient);
  border-radius: 5px;
}

.rate-title .title-text {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
p.rate-content{
    color: var(--light-gray);
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    text-align: center;
}
.about-rates {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 24px;
  max-width: 90%;
  margin: auto;
}

.rate-card {
  background: rgba(20,20,20,0.9);
  border: 1px solid rgb(38,38,38);
  padding: 20px 25px;
  border-radius: 18px;
  opacity: 1;
  transition: all .3s ease;
}

.rate-card i {
  font-size: 28px;
  background-color: var(--main-gardient);
  color: var(--main-color);
  margin-bottom: 15px;
  text-align: center;
  margin: auto;
}

.rate-card h3 {
  text-align: center;
  padding-top: 15px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  transition: all .3s ease;
}

.rate-card p {
  padding-top: 10px;
  color: var(--main-gray);
  font-size: 14px;
  text-align: center;
}

.rate-card:hover{
  
  background-color: rgba(249, 115, 22,.1) !important;
  border: 2px solid rgb(249, 115, 22);

}
.rate-card:hover h3{
  color: var(--secondary-color);
}

/* team */
.team{
  max-width: 90%;
  margin: auto;
}
.team-card {
  background: rgba(20,20,20,0.9);
  border: 1px solid rgb(38,38,38);
  padding: 20px 15px;
  border-radius: 20px;
  transition: all .4s ease;
}

.team-img {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 3px solid rgb(38,38,38);
  padding: 6px;
  transition: all .4s ease;
}

.team-card:hover {
  border: 1px solid oklch(26.888% 0.07167 39.882);
}

.team-card:hover .team-img {
  border: 3px solid oklch(26.888% 0.07167 39.882);
}


.team-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.check-icon {
  position: absolute;
  bottom: 0;
  right: 10%;
  transform: translateX(50%);
  background: var(--main-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
}

.team-card h3 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.team-card p {
  color: var(--main-color);
  margin-bottom: 16px;
  font-weight: 500;
}

/* contact */
.contact{
  background: linear-gradient(to right bottom, oklch(0.646 0.222 41.116) 0%, oklch(0.705 0.213 47.604) 50%, oklch(0.795 0.184 86.047) 100%);
}
.contact h2{
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.contact p {
  color: white;
  font-size: 18px;
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.btn-contact{
  border: none;
  border-radius: 12px;
  color: white;
  background-color: black;
  padding: 18px 35px;
   font-size: 16px;
  font-weight: 700;
  transition: all .3s ease;

}
.btn-contact:hover{
transform: translate(0,-3px);
background-color: rgb(38,38,38) !important;
color: white !important;

}
.btn-search{
  border: 2px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.4);
  border-radius: 12px;
  color: white;
  padding: 18px 35px;
  transition: all .3s ease;
  font-size: 16px;
  font-weight: 700;

}
.btn-search:hover{
  color: black !important;
  background-color: white !important;
  border: none;

}