.footer {
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 200px;
  background: var(--main-color);
  filter: blur(120px);
  opacity: 0.1;
  pointer-events: none;
}

.footer-logo{
    width: 44px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 12px;
    background: linear-gradient(to right bottom, oklch(0.705 0.213 47.604) 0%, oklch(0.646 0.222 41.116) 100%);
    transition: all .3s ease;
}
.footer-logo:hover{
  transform: scale(1.1);
}
.footer-content{
    color: var(--light-gray);
    font-size: 14px;
    max-width: 85%;
    line-height: 23px;

}
.social-link{
    background-color: rgb(22, 22, 22);
    color:var(--light-gray);
    width: 42px;
    height: 42px;
    font-size: 20px;
    transition: all .3 ease;
    border-radius: 12px;
}
.social-link:hover{
    background: linear-gradient(to right bottom, oklch(0.705 0.213 47.604) 0%, oklch(0.646 0.222 41.116) 100%);
    color: white;
}
.divider {
  background: linear-gradient(to right, oklch(0.705 0.213 47.604) 0%, oklch(0.795 0.184 86.047) 100%);
  width: 40px;
  height: 2px;
  display: inline-block; 
  margin-right: 8px; 
}
h3 span{
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.links {
  color: var(--light-gray);
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-bottom: 10px;
  gap: 5px;
  transition: all 0.3s ease;
}

.links i {
  color: var(--main-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.links:hover {
  color: var(--main-color);
}

.links:hover i {
  opacity: 1;
}

input {
  width: 100%;
  background-color: rgb(22, 22, 22);
  border: 1px solid rgb(38, 38, 38) !important;
  padding: 12px 60px;
  border-radius: 12px;
  transition: all 0.3s ease;
  font-size: 14px;
  outline: none;
  box-shadow: none;
  color: white;
}

input:focus {
  border: 2px solid var(--main-color) !important;
}

.btn-submit {
  width: 100%;
  background: var(--third-gradient);
  color: white;
  padding: 12px 60px;
  border-radius: 12px;
  border: none;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  transform: translateY(-4px);
  color: white !important;
}

.divider1 {
  background: var(--main-gray);
  width: 100%;
  margin: auto;
  height: 1px;

}
.heart-icon{
  font-size: 20px;
  color: var(--secondary-color);
}