:root{
    --main-color:oklch(0.705 0.213 47.604);
    --secondary-color:oklab(0.75 0.102507 0.151596 / 0.8);
    --main-gray:oklch(0.708 0 0);
    --light-gray:oklch(0.556 0 0);
    --main-gradient : linear-gradient(to right, oklch(0.705 0.213 47.604) 0%, oklch(0.646 0.222 41.116) 100%);
    --second-gardient :linear-gradient(135deg, rgb(249, 115, 22), rgb(251, 191, 36));
    --third-gradient :linear-gradient(135deg, rgb(249, 115, 22), rgb(234, 88, 12))
}
body{
    background-color: rgba(10, 10, 10, 0.95);
      font-family: 'Tajawal', system-ui, -apple-system, sans-serif;
        padding-top: 80px;


}
.container{
    max-width: 1250px;
}
a{
    text-decoration: none !important; 
}
.grid-bg {
  background-color: rgba(10, 10, 10, 0.95);
  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size: 60px 60px;
}
